@import "functions";
@import "variables";
@import "maps";
@import "utilities";

$utilities: map-merge(
    $utilities,
    (
      "text-transform": map-merge(
          map-get($utilities, "text-transform"),
          (
            values: (
              lowercase: lowercase,
              uppercase: uppercase,
              capitalize: capitalize,
              transform-unset: unset
            )
          )
      )
    )
);
